:root {
    --green-color: rgb(46, 186, 39);
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
    z-index: 0;
}

header {
    position: relative;
    display: flex;
    justify-content: center;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.09);
    width: 100%;
}

#header-element-list {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.09);
}

#header-title {
    font-size: 1.6rem;
    padding-left: 10px;
}

.header-box {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 6px;
    margin: 0 15px;
    min-width: 100%;
}

.header-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 0;
    width: 320px;
    height: 100vh;
    background-color: whitesmoke;
    z-index: 10;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0 10px;
}

.header-menu>ul {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    position: relative;
}

.header-menu li {
    list-style: none;
}

.header-menu>ul>li {
    font-weight: 450;
    cursor: pointer;
}

.header-menu>ul>li:hover,
.header-menu>ul>li:focus {
    color: rgb(104, 199, 45);
}

.header-genres {
    position: relative;
}

.header-genres-box {
    display: block;
    font-size: 0.85em;
    column-count: 2;
    column-gap: 10px;
    left: -5px;
    background-color: whitesmoke;
    padding: 7px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 10;
}

.header-genres-box>li {
    padding: 5px 20px;
    text-wrap: nowrap;
    height: auto;
    line-height: normal;
    text-align: start;
}

.header-genres:hover .header-genres-box {
    color: black;
}

#header-genres:checked+#header-genre-lbl+.header-genres-box {
    display: block;
    color: black;
}

.header-genres-box li:hover,
.header-genres-box li:focus {
    background-color: var(--green-color);
    color: white;
}

.header-genres-box-small-win {
    display: block;
    margin-top: 10px;
}

.search-box {
    position: relative;
    border: 1px solid rgb(171, 170, 170);
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
}

@keyframes wideBoxSmallWin {
    from {
        width: 30ch;
    }

    to {
        width: 95%;
    }
}

.search-icon {
    bottom: 7px;
    padding-left: 5px;
    margin-right: 10px;
    color: rgb(171, 170, 170);
}

@keyframes wideBox {
    from {
        width: 15ch;
    }

    to {
        width: 30ch;
    }
}

.search-input {
    height: 40px;
    width: 30ch;
    font-size: 0.9rem;
    border: none;
    min-width: calc(95% - 30px);
}

.search-input:focus {
    outline: none;
}

.win-blocker {
    position: absolute;
    margin: -10px;
    min-width: 100vw;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.57);
    z-index: 1;
}

.disable-scroll {
    overflow: hidden;
}

.right-menu-btn {
    position: absolute;
    top: 15px;
    right: 10px;
    border: 1px solid rgb(203, 202, 202);
    border-radius: 1px;
    font-size: 1.3rem;
    padding: 0 5px;
    cursor: pointer;
    width: 22px
}

.right-menu-btn:hover,
.right-menu-btn:focus {
    color: var(--green-color);
}



.show-menu {
    display: flex;
    animation: showRightMenu 0.5s ease-out;
}

@keyframes showRightMenu {
    from {
        right: -320px;
    }

    to {
        right: 0;
    }
}

.right-menu>ul {
    display: flex;
    flex-direction: column;
}

.right-menu ul li {
    border-bottom: 1px solid rgb(203, 203, 203);
    padding-bottom: 5px;
}

.close-menu-small-win {
    border: 1px solid #000;
    max-width: 100px;
    padding: 5px;
    border-radius: 5px;
    margin: 20px;
    align-self: end;
    cursor: pointer;
}

.close-menu-small-win:hover,
.close-menu-small-win:focus {
    color: var(--green-color);
    border-color: var(--green-color);
}

.hide-menu {
    animation: closeMenu 0.3s ease-out forwards;
}

@keyframes closeMenu {
    from {
        right: 0;
    }

    to {
        right: -350px;
        display: none;
    }
}

/* @media screen and (min-width: 481px) {} */

/* @media screen and (min-width: 769px) {

} */

/* @media screen and (max-width: 1025px){
    .search-box {
        animation: wideBoxSmallWin 0.5s ease-out;
    }
} */

@media screen and (min-width: 1025px) {

    .header-box {
        min-width: 1020px;
        flex-direction: row;
        align-items: center;
        position: relative;
        gap: 60px;
        padding: 10px 0;
        margin: 0 15px;
    }

    .search-box {
        position: absolute;
        right: 0;
        border: 1px solid rgb(171, 170, 170);
        border-radius: 2px;
    }

    .search-input {
        width: 30ch;
        /* animation: wideBox 0.5s ease-out; */
    }

    .right-menu-btn {
        display: none;
    }

    .header-menu {
        display: flex;
        position: relative;
        background-color: #fff;
        width: auto;
        height: auto;
        gap: 1.3rem;
        padding: 0;
        overflow: visible;
    }

    .header-menu>ul {
        flex-direction: row;
    }

    #header-title {
        font-size: 2rem;
    }

    .header-genres-box {
        position: absolute;
        font-size: 1em;
        column-count: 3;
    }

    .header-menu>ul>li {
        height: 40px;
        line-height: 40px;
        text-align: center;

    }

    .close-menu-small-win {
        display: none;
    }

}

@media screen and (min-width: 1201px) {
    .header-box {
        display: flex;
        min-width: 1195px;
    }
}

.hide-element {
    display: none;
}