:root {
    --green-color: rgb(104, 199, 45);
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, sans-serif;
}

header {
    position: relative;
    display: flex;
    justify-content: center;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.09);
    width: 100vw;
    
}

.header-title-small-win {
    font-size: 1.6rem;
    padding-left: 10px;
}

.header-box {
    display: none;
    align-items: center;
    position: relative;
    gap: 60px;
    padding: 10px 0;
    margin: 0 15px;
    min-width: var(--client-width);
}

.header-box-small-win {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 6px;
    margin: 0 15px;
    min-width: var(--client-width);
}

.header-menu ul {
    display: flex;
    gap: 1.3rem;
    padding: 10px;
    position: relative;
}

.header-menu li {
    list-style: none;
}

.header-menu p {
    font-weight: 450;
    cursor: pointer;
}

.header-menu p:hover,
.header-menu p:focus {
    color: rgb(104, 199, 45);
}

.header-genres-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.search-box {
    position: absolute;
    right: 0;
    border: 1px solid rgb(171, 170, 170);
    border-radius: 2px;
}

.search-box-small-win {
    position: relative;
    border: 1px solid rgb(171, 170, 170);
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
}

.search-icon {
    bottom: 7px;
    padding-left: 5px;
    margin-right: 10px;
    color: rgb(171, 170, 170);
}

.search-input {
    height: 40px;
    width: 30ch;
    font-size: 0.9rem;
    border: none;
}

.search-input:focus {
    outline: none;
}

.search-input-small-win {
    min-width: calc(95% - 30px);
}

#header-element-list {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.09);
}

.header-menu-list {
    display: flex;
    flex-direction: column;
    position: absolute;
    /* width: 200px;
    height: 100px; */
    top: var(--bottom-element);
    left: var(--left-element);
    background-color: whitesmoke;
    padding: 5px;
    border: 1px solid rgb(203, 202, 202);
    border-radius: 5px;
}

.header-menu-list-small-win {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: whitesmoke;
    padding: 5px;
    border: 1px solid rgb(203, 202, 202);
    border-radius: 5px;
    transition: all .5s ease-in-out;
    transform-origin: left top;
    transform: scaleY(1);
}

.header-menu-list-small-win:target {
    transform: scaleY(0);
}


.list-tabs-box {
    display: flex;
    gap: 2px;
    z-index: 1;
    /* width: 200px; */
}

.list-tab {
    padding: 1px 0 15px 0;
    min-width: 80px;
    max-height: 30px;
    text-align: center;
    background-color: whitesmoke;
    border: 1px solid rgb(203, 202, 202);
    border-bottom: 2px solid rgb(203, 202, 202);
    border-radius: 10px 10px 0 0;
    cursor: pointer;
    /* z-index: 2; */
}

.list-tab-active {
    border: 2px solid rgb(203, 202, 202);
    border-bottom: none;
    /* z-index: 4; */
}

.list-data-box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 6px;
    margin-top: -2px;
    min-width: 400px;
    max-height: 200px;
    border-top: 2px solid rgb(203, 202, 202);
    padding: 10px 15px;
}

.list-data-box-small-win {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 6px;
    margin-top: -1.5px;
    background-color: whitesmoke;
    border-top: 2px solid rgb(203, 202, 202);
    padding: 10px 15px;
    max-width: 350px;
    max-height: 350px;

}


.genre-name {
    cursor: pointer;
}

.genre-name:hover,
.genre-name:focus {
    color: var(--green-color);
}

/* .header-box-small-win-row1 {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
} */

.right-menu-btn {
    position: absolute;
    top: 15px;
    right: 20px;
    border: 1px solid rgb(203, 202, 202);
    border-radius: 1px;
    font-size: 1.3rem;
    /* margin-left: 20px;
    margin-right: auto; */
    padding: 0 5px;
    cursor: pointer;
    width: 22px
}

.right-menu-btn:hover,
.right-menu-btn:focus {
    color: var(--green-color);
}

.win-blocker {
    position: absolute;
    margin: -10px;
    min-width: 100vw;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.57);
    z-index: 2;
}

.disable-scroll {
    overflow: hidden;
}

.right-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 0;
    width: 330px;
    height: 100vh;
    background-color: whitesmoke;
    z-index: 1;
    overflow-y: auto;
}

.show-menu{
    animation: showRightMenu 0.5s ease-out;
}

@keyframes showRightMenu {
    from {
        right: -330px;
    }

    to {
        right: 0;
    }
}

.right-menu ul {
    display: flex;
    flex-direction: column;
}

.right-menu ul li {
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(203, 203, 203);
}

.right-menu p {
    max-width: 50px;
}

.close-menu-small-win {
    border: 1px solid #000;
    max-width: 100px;
    padding: 5px;
    border-radius: 5px;
    margin: 20px;
    align-self: end;
    cursor: pointer;
}

.close-menu-small-win:hover,
.close-menu-small-win:focus {
    color: var(--green-color);
    border-color: var(--green-color);
}

.hide-menu {
    /* right: -350px; */
    animation: closeMenu 0.3s ease-out forwards;
}

@keyframes closeMenu {
    from {
        right: 0;
    }

    to {
        right: -350px;
        display: none;
    }
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* max-width: 90%; */
}

.result-container {
    /* display: flex;
    flex-wrap: wrap;
    gap: 30px 10px;
    margin: auto;
    max-width: 90%; */
    /* width: fit-content; */
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 30px 10px;
    /* grid-auto-flow: column; */
}

.result-box {
    display: flex;
    flex-direction: column;
    width: 185px;
    gap: 3px;
}

.result-img {
    width: 185px;
    height: 278px;
    border-radius: 10px;
}

.result-title {
    font-weight: 500;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.result-info {
    display: flex;
    justify-content: space-between;
}



.hide-element {
    display: none;
}

/* <= 480, 481 <= 768, 769 <= 1024, 1025 <= 1200, 1201 < */
/* @media screen and (min-width: 481px) {} */

@media screen and (min-width: 769px) {
     .header-box-small-win {
        display: flex;
    }

    .header-box {
        display: none;
    }
}

@media screen and (min-width: 1025px) {
    .header-box-small-win {
        display: none;
    }

    .header-box {
        display: flex;
    }
}

@media screen and (min-width: 1201px) {}